@model List<BasketItemViewModel>

<hr />
<div class="row">
    <div class="col-12">
        <form action="#" class="">
            <!-- Cart Table -->
            <div class="cart-table table-responsive mb--40">
                <table class="table">
                    <!-- Head Row -->
                    <thead>
                        <tr>
                            <th class="pro-remove"></th>
                            <th class="pro-thumbnail">Image</th>
                            <th class="pro-title">Product</th>
                            <th class="pro-price">Price</th>
                            <th class="pro-quantity">Quantity</th>
                            <th class="pro-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="pro-remove">
                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                </td>
                                <td class="pro-thumbnail">
                                    <a href="#">
                                        <img src="@item.ImagePath" alt="@item.Name">
                                    </a>
                                </td>
                                <td class="pro-title">
                                    <a href="#">@item.Name</a>
                                </td>
                                <td class="pro-price">
                                    <span>@item.Price.ToString("C")</span>
                                </td>
                                <td class="pro-quantity">
                                    <div class="pro-qty">
                                        <div class="count-input-block">
                                            <input type="number" class="form-control text-center quantityInput"
                                                   value="@item.Count" data-id="@item.ProductId">
                                        </div>
                                    </div>
                                </td>
                                <td class="pro-subtotal">
                                    <span>@(item.Price * item.Count).ToString("C")</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<hr />

@section Scripts {
    <script>
        const increaseButtons = document.querySelectorAll(".inc")
        const decreaseButtons = document.querySelectorAll(".dec")
        const quantityInputs = document.querySelectorAll(".quantityInput")
        console.log(decreaseButtons)

        increaseButtons.forEach((btn, i) => {
            btn.addEventListener('click', async (e) => {
                let productId = quantityInputs[i].dataset.id;

                const response = await fetch(`/Home/AddToBasket/${productId}`)
                console.log(response);
                console.log(productId);
            })
        })

        decreaseButtons.forEach((btn, i) => {
            btn.addEventListener('click', async (e) => {
                console.log("salam")
                let productId = quantityInputs[i].dataset.id;

                const response = await fetch(`/Home/Decrease/${productId}`)
                console.log(response);
                console.log(productId);
            })
        })
    </script>
}

