@model List<ProductViewModel>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <p class="card-description">
                <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Create</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Brand
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Tags
                            </th>
                            <th>
                                Tax
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@item.MainImagePath" alt="@item.Name" />
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.Brand
                                </td>
                                <td>
                                    @item.ProductCode
                                </td>
                                <td>
                                    @item.DiscountPrice
                                </td>
                                <td>
                                    @item.Color
                                </td>
                                <td>
                                    @item.StockQuantity
                                </td>
                                <td>
                                    @item.Category
                                </td>
                                <td>
                                    @foreach (var i in item.ProductTags!)
                                    {
                                       <span>@i.Tag.Name</span>
                                    }
                                </td>
                                <td>
                                    @item.Tax
                                </td>
                                <td>
                                    @item.RewardPoint
                                </td>
                                <td>
                                    <a asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                    <a asp-action="update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                    <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

